/*------CONOCENOS--------*/

.contenedor {
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: solid 1.5px #8c998c; /*--RECUADRO--*/
    border-radius: 25px; /*--REDONDEO DEL RECUADRO--*/
}

.contenedor h2 {
    margin-top: 15px; /*--MARGEN SUPERIOR DEL H2--*/
    margin-bottom: 15px; /*--MARGEN INFERIOR DEL H2--*/
}

.contenedor p {
    font-size: 23px;
    margin: 23px;
}


a:hover
a:focus {
    background-size: 100% 2px;
}
